*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
.content{
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    background-color: whitesmoke;
}